<h2>編集する</h2>
<p>名前とメールアドレスは変更できません</p>
<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :nickname %>
  <%= f.text_field :nickname %>
  <%= f.label :image %>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit %>
<% end %>
