<dt>名前</dt>
<p><%= @user.name %></p>
<dt>ニックネーム</dt>
<p><%= @user.nickname %></p>
<dt>メールアドレス</dt>
<p><%= @user.email %></p>
<p><%= image_tag @user.image.url, class: "user-image-show" %></p>
<div class="col-md-12"><%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-default" %></div>
<%= link_to "", session_path(current_user.id), method: :delete, class: "glyphicon glyphicon-log-out logout col-md-12" %>
