<div class="col-md-3"></div>
<div class="col-md-6">
<%= form_with(model: @picture, local: true, url: choose_new_or_edit) do |form| %>
<% if @picture.errors.any? %>
  <div id="error_explanation">
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="picture_content mb-3">
  <%= form.label :image, "画像", class: "form-label" %>
  <%= form.file_field :image, class: "image_form" %>
  <%= form.hidden_field :image_cache %>
</div>
<div class="picture_content mb-3">
  <%= form.label :content, "投稿内容", class: "form-label" %>
  <%= form.text_area :content, class: "form-control", id:"exampleFormControlTextarea1", rows:"3", size: "10x10" %>
</div>
<br>
<%= form.submit "投稿", class: "btn btn-default" %>
<% end %>
</div>
<div class="col-md-3"></div>
<div class="col-md-12">
</div>
