<%= form_with(model: @picture, local: true) do |form| %>
<div class="picture_content">
  <%= form.hidden_field :content %>
</div>
<div class="picture_content">
  <%= form.hidden_field :image %>
  <%= form.hidden_field :image_cache %>
</div>
<p>本文：<%= @picture.content %></p>
<p>画像：<%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></p>
<%= form.submit "登録する" %>
<%= form.submit "戻る", name: 'back' %>
<% end %>
