<p><%= notice %></p>
<div class="col-md-3"></div>
<div class="col-md-6">
<% @pictures.each do |picture| %>
<div class="card mb-3">
  <div class="card-body">
  <%= image_tag picture.user.image.url, class: 'user-image-picture' %>
  <div class="user-nickname-picture"><%= picture.user.nickname %></div>
  <div class="picture-favorite-btn">
  <% unless picture.user_id == current_user.id %>
  <% @favorite = current_user.favorites.find_by(picture_id: picture.id) %>
    <% if @favorite.present? %>
      <%= link_to '', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-default glyphicon glyphicon-ok favorite-delete' %>
    <% else %>
      <%= link_to '', favorites_path(picture_id: picture.id), method: :post, class: 'btn btn-default glyphicon glyphicon-ok favorite-post' %>
    <% end %>
  <% end %>
  </div>
  </div>
  <%= image_tag picture.image.url, class: "card-img-top" %>
  <div class="card-body">
    <div class="row">
    <% @like = current_user.likes.find_by(picture_id: picture.id) %>
    <div class="col-md-12 like-message">
      <% if @like.present? %>
        <%= link_to '', like_path(id: @like.id), class: "glyphicon glyphicon-heart unlike-btn", method: :delete %>
      <% else %>
        <%= link_to '', likes_path(picture_id: picture.id), class: "glyphicon glyphicon-heart-empty like-btn", method: :post %>
      <% end %>
      <div class="like-likemessage">
      <% @like_user = picture.like_users.find_by(params[:id]) %>
      <% if @like_user.present? %>
      <% if picture.likes.count > 1 %>
      <%= @like_user.nickname %>さん、他<%= picture.likes.count - 1 %>人が「いいね！」をしました
      <% else %>
      <%= @like_user.nickname %>さんが「いいね！」をしました
      <% end %>
      <% end %>
      </div>
    </div>
    </div>
    <div class="row picture-content">
    <p class="card-text"><%= picture.content %></p>
    </div>
    <div class="card-btn btn-group">
    <%= link_to '詳細', picture_path(picture.id), class: "btn btn-default" %>
    <% if picture.user_id == current_user.id %>
    <%= link_to "編集", edit_picture_path(picture.id), class: "btn btn-default" %>
    <%= link_to '削除', picture_path(picture.id), method: :delete, data: { confirm: '本当に削除しても宜しいですか？' }, class: "btn btn-default" %>
    <% end %>
    </div>
    <p class="card-text"><small class="text-muted"><%= picture.created_at.to_s(:datetime_jp) %></small></p>
  </div>
</div>
<% end %>
</div>
<div class="col-md-3"></div>
<div class="row col-md-12">
</div>
